[submodule "oracle-contracts/lib/forge-std"]
	path = oracle-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "oracle-contracts/lib/openzeppelin-contracts"]
	path = oracle-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
